*.pdf !text !filter !merge !diff
*.png !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
*.tif !text !filter !merge !diff
*.tiff !text !filter !merge !diff
